

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

.main_body{
    background-image: linear-gradient(to right top, #141e23, #17232a, #1a2930, #1c2e37, #1f343e, #20343f, #203540, #213541, #1f303c, #1d2c37, #1b2732, #19232d);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;


}
#welcome-back{
    color: rgba(255, 255, 255, 0.939);
    font-size: xx-large;
    font-weight: 200;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* text-shadow: 2px 2px 20px #000000bf; */
    
}

.button-sub{
    background-image: linear-gradient(to right top, #ccbc1a, #d5c335, #ddc949, #e5d05c, #edd76d, #eeda75, #efdd7e, #f0e086, #ebe088, #e7e18b, #e2e18d, #dee190);
    border: none;
    border-radius: 2em;
    width: 100px;
    height: 50px;
    border: 0;
    box-shadow: 25px 20px 40px rgba(0, 0, 0, 0.294);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(48, 47, 45);
        
}
.button-sub:hover{
    box-shadow: 0px 5px 20px 2px #f9f7b11d;
         /* transform: scale(1.02); */
         
}

#soc{
    opacity: 90%;
    color: #2c2c2c;
}
#soc:hover{
    box-shadow: 5px 5px 10px 2px #0000001d;
         transform: scale(1.02);
         opacity: 100%;
    }

    .input {
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        flex-direction: column-reverse;
        position: relative;
        padding-top: 1.5rem;
        &+.input {
            margin-top: 1.5rem;
        }
    }
    
    .input-label {
        color: #8597a3;
        position: absolute;
        top: 1.5rem;
        transition: .25s ease;
    }
    
    .input-field {
        border: 0;
        z-index: 1;
        background-color: transparent;
        border-bottom: 2px solid #eeeeee; 
        font: inherit;
        font-size: 1.125rem;
        padding: .25rem 0;
        &:focus, &:valid {
            outline: 0;
            border-bottom-color: #ffffff;
            &+.input-label {
                color: #ffffff;
                transform: translateY(-1.5rem);
            }
        }
    }

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
}
	#aa {
		display: block;
		color: #ffffff;
		text-decoration: none;
    font-family: 'Poppins', sans-serif;
	}
  #aa:hover{
    color: rgb(186, 163, 71);
  }


    @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}



.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}



.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

.inputs{

    padding: 200px;
}
.forgot_p{
  text-decoration: none;
  color: white;
}

.forgot_p:hover{
    color: rgb(186, 163, 71);
}

.msg{
  height: 10px;
}